extends layout

block content
  div(class="container px-1 mx-auto")
    h1(class="mt-1 text-2xl") Palette Generator
    p(class="mt-4") A simple material UI color palette generator.
    form(class="flex flex-col items-start gap-3 px-4 mt-12" id="colors" action="/colors?color=" method="/get")
      label(class="block")
        span(class="mr-3") Color hex code:
        input#color(class="box-border w-auto px-2 mr-2 border-solid outline outline-2 outline-gray-500 focus_outline-indigo-500" placeholder="#" name="color")
      input(class="px-2 py-1 bg-gray-300 rounded hover_bg-gray-500")(type="submit" value="Generate")
      if copy != null
        input(class="px-2 py-1 bg-gray-300 rounded hover_bg-gray-500" value='')
        span #{color}

      section(class="flex w-full mt-6 text-center")
        if palette != null
          ul(class="w-full")
            for color in palette
              li(class='w-full px-1 py-3 font-mono',style={'background-color': color},)
                span(class="text-gray-100 bg-gray-800") #{color}
        else
          p Nothing here.
